.services {
  background: #0e1630;
  position: relative;
}

.services__container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.services__container > div {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .services__container {
    flex-direction: column;
    align-items: unset;
  }

  .services__container > div {
    width: 100%;
  }

  .service__title h3 {
    font-size: 1.3rem;
  }
}
